/* Body */
body {
  font-family: "Poppins", sans-serif;
  background-color: #b19470;
}

section {
  padding-top: 5rem;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/* Navbar */
nav {
  background-color: #43766c;
}

.container a {
  color: #f8fae5;
}

.collapse ul li a {
  position: relative;
  color: #f8fae5;
}

.collapse ul li a:after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(22, 58, 101);
  transition: 0.3s ease 0s;
  width: 0;
}

.collapse ul li a:hover:after {
  width: 100%;
  left: 0;
}

/* Jumbotron */
.jumbotron {
  padding-top: 6rem;
  background-color: #f8fae5;
}

/* About */

/* Projects */
.projects {
  background-color: #f8fae5;
}

/* Footer */
footer {
  background-color: #76453b;
}

